/* Document
  ========================================================================== */
html {
  font-size: var(--base-font-size);
}

body {
  background: var(--body-bg-color);
  color: var(--body-color);
  font-family: var(--body-family);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  margin: var(--body-margin);
}

/* Headings
  ========================================================================== */
h1,
h2,
h3,
h4,
h5 {
  margin: var(--heading-margin);
  font-family: var(--heading-family);
  font-weight: var(--heading-weight);
  line-height: var(--heading-line-height);
}
h1 {
  font-size: var(--type-scale-1);
}
h2 {
  font-size: var(--type-scale-2);
}
h3 {
  font-size: var(--type-scale-3);
}
h4 {
  font-size: var(--type-scale-4);
}
h5 {
  font-size: var(--type-scale-5);
}
h6 {
  font-size: var(--type-scale-6);
}

/* Paragraphs
  ========================================================================== */
p {
  font-size: inherit;
}

/* Blockquotes
========================================================================== */
blockquote {
}

blockquote cite {
}
blockquote cite a {
}

/* Inline Elements
  ========================================================================== */
a {
}

strong {
  font-weight: var(--strong-font-weight);
}

small {
  font-size: --small-font-size;
}

/* Document Structural Elements
========================================================================== */
header {
}

nav {
}

/* Main Structural Elements
========================================================================== */
main {
}

main section {
}
main section header {
}
main section article {
}
main section article header {
}
main section article footer {
}
